:root{
  --primary-color: #FDF7E4;
  --secondary-color: #0000;

  --primary-font: "Montserrat", sans-serif;
	--secondary-font: "Montserrat", sans-serif;
	/* --------------------- */

	--neutral--800: #1b1f24;
  --neutral--400: #c3cad5;
  --neutral--100: white;
  --neutral--500: #8895aa;
  --neutral--700: #2d343f;
  --neutral--300: #e4e7ec;
  --neutral--600: #5d6c83;
  --neutral--200: #f0f2f4;

	--gradient-color: linear-gradient(45deg, #ff4c05, #09e1fd, #ff09a1);

}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
